COMPANY_NAME="Zine Inc."
TWITTER_CREATOR="@zine"
TWITTER_SITE="https://reflowhq/commerce"
SITE_NAME="Reflow Store"
NEXT_PUBLIC_REFLOW_STORE_ID="330354823"
FEATURED_PRODUCTS_CATEGORY="1550218197"
NAV_CATEGORIES="1336752052,1082498329"
REFLOW_WEBHOOK_SIGNING_SECRET=""
